
body {
    background-color: #DAF5FF;
    text-align: center;
    padding: 350px;
    font-family: 'Merriweather', serif;
    list-align: center;
    width: 800px;
    margin: 200px;

}



hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #DAF5FF;
    border-width: 10px;
    width: 10%;
    height: 15px;

}

h1 {
    color: #665A48;

}

h3 {
    color: #BB9981;

}

h2 {
    color: #665A48;
}

.circular {
    border-radius:100%;
    position: absolute;
    left: 500px;
    top: 300px;


}

.modules {
    padding: 0px;
    top: 0px;
}
.tree {
    position: absolute;
    right: 0px;
    top: 0px;
    left: 900px;
    width: 1000px;
    height: 500px;
    padding: 0;
    text-align: none;
    margin: 0px;

}




.leaf {
    position: absolute;
    width: 400px;
    top: 890px;
    left: 750px;
}

.leaf2 {
    position: absolute;
    width: 400px;
    top: 1100px;
    left: 750px;
    top: 1375px;
}

.leaf3 {
    position: absolute;
    width: 400px;
    top: 2000px;
    left: 750px;

}

.leaf4 {
    position: absolute;
    width: 400px;
    top: 1770px;
    left: 750px;

}
.leaf5 {
    position: absolute;
    width: 400px;
    left: 750px;
    top: 3750px;
}






.course-skills {
    text-align: left;
}

.skills {
    text-align: left;
    padding-bottom: 10px;
}

.sun {
    position: absolute;
    right: 100px;
    top: 300px;
    left: 1300px;
}

.module-list {
    position: absolute;
    text-align: center;
    font-size: 200%;
    font-family: 'Merriweather', serif;
    top: 300px;
    left: 50px;

}

.module-title {
    position: absolute;
    text-align: center;
    font-size: 400%;
    top: 0px;
    left: 50px;
}

.bbskills {
    text-align: left;
}

.tskills {
    text-align: left;
}

.smskills {
    text-align: left;
}

.basskills {
    text-align: left;
}